---
import Frame from "../../layouts/Frame.astro";
import { getAllTags } from "../../lib/tags";
import { getTagsByPostCount } from "../../lib/tags";
const tags = await getTagsByPostCount();
---

<Frame pageClass="page-tag-list">
  <h1 class="page-tag-list__title">Tags</h1>

  <nav>
    <ul class="tag-list">
      {
        tags.map(([tag, count]) => (
          <li class="tag-list__item">
            <a href={`/tags/${tag}/`} class="tag-list__link">{tag}</a> ({count} posts)
          </li>
        ))
      }
    </ul>
  </nav>
</Frame>
