.reflection {
    display: flex;
    gap: 1rem;
    background-color: var(--color-background--mute);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-family: var(--font-sans-serif);
    font-weight: var(--font-weight-medium);
    position: relative;
}


.reflection__icon {
    font-size: 2rem;
    display: none;
    position: absolute;
    left: -0.7rem;
    top: -0.7rem;
    z-index: 1;
    color: var(--color-link)
}

@media (min-width: 768px) {
    .reflection__icon {
        display: inline-block;
    }
}

.reflection__content {
    flex: 1;
}

.reflection__content > :last-child {
    margin-bottom: 0;
}
