@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('../fonts/GeneralSans-Variable.woff') format('woff'),
    url('../fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-VariableItalic.woff2') format('woff2'),
    url('../fonts/GeneralSans-VariableItalic.woff') format('woff'),
    url('../fonts/GeneralSans-VariableItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: 'Sentient';
  src: url('../fonts/Sentient-Variable.woff2') format('woff2'),
    url('../fonts/Sentient-Variable.woff') format('woff'),
    url('../fonts/Sentient-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sentient';
  src: url('../fonts/Sentient-VariableItalic.woff2') format('woff2'),
    url('../fonts/Sentient-VariableItalic.woff') format('woff'),
    url('../fonts/Sentient-VariableItalic.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

:root {
  --color-background: #fff;
  --color-text: #212121;
  --color-text--secondary: #777;
  --color-text--faded: #999;
  --color-border: #eee;
  --color-link: #AF7B37;
  --font-sans-serif: 'General Sans', sans-serif;
  --font-serif: 'Sentient', serif;
}

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Sentient, serif;
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'General Sans', sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'General Sans', sans-serif;

}

.site-title {
  margin: 1rem 0;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--color-text);
  font-size: 1rem;
  text-transform: uppercase;
}

.site-nav {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.site-nav a,
.site-nav a:visited,
.site-nav a:hover,
.site-nav a:active,
.site-nav a:focus {
  color: inherit;
}

.site-title a,
.site-title a:visited,
.site-title a:hover,
.site-title a:active,
.site-title a:focus {
  color: inherit;
  text-decoration: none;
  font-family: 'General Sans', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}

.stage {
  max-width: 45rem;
  min-width: 320px;
  padding: 0 2rem;
  margin: 1em auto 3em;
  flex: 1;
}

@media (min-width: 768px) {
  .stage {
    min-width: 35rem;
  }
}

@media (min-width: 1024px) {
  .stage {
    min-width: 45rem;
  }
}

.post-card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-card-list__item:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.post-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.2;
}

.post-card__title a,
.post-card__title a:visited,
.post-card__title a:hover,
.post-card__title a:active,
.post-card__title a:focus {
  color: inherit;
}

.post-card__meta {
  font-size: 16px;
  color: var(--color-text--faded);
}

.post-card__excerpt {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.site-footer {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  color: var(--color-text--faded);
  font-family: 'General Sans', sans-serif;
  font-size: 14px;
  width: 100%;
}

.page-404 {
  text-align: center;
}

.page-blog__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1;
  font-weight: 800;
}

.page-blog__meta {
  margin-top: 0.5em;
  margin-bottom: 1rem;
  font-size: 16px;
  color: var(--color-text--faded);
}

.page-blog__content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-list__item {
  margin-bottom: 0.5rem;
}

.tag-list__link {
  color: var(--color-text);
  text-decoration: none;
}

.tag-list__link:hover,
.tag-list__link:active,
.tag-list__link:focus {
  text-decoration: underline;
}

.page-tag-list h1,
.page-tag h1 {
  font-size: 3rem;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  color: var(--color-text--secondary);
}
