@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('../fonts/GeneralSans-Variable.woff') format('woff'),
    url('../fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-VariableItalic.woff2') format('woff2'),
    url('../fonts/GeneralSans-VariableItalic.woff') format('woff'),
    url('../fonts/GeneralSans-VariableItalic.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: 'Sentient';
  src: url('../fonts/Sentient-Variable.woff2') format('woff2'),
    url('../fonts/Sentient-Variable.woff') format('woff'),
    url('../fonts/Sentient-Variable.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sentient';
  src: url('../fonts/Sentient-VariableItalic.woff2') format('woff2'),
    url('../fonts/Sentient-VariableItalic.woff') format('woff'),
    url('../fonts/Sentient-VariableItalic.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

:root {
  --color-background: #eee5da;
  --color-background--mute: #ded5ca;
  --color-text: #393633;
  --color-text--secondary: #504235;
  --color-text--faded: #6a6057;
  --color-border: #d7d2c5;
  --color-link: #AF7B37;
  --font-sans-serif: 'General Sans', sans-serif;
  --font-serif: 'Sentient', serif;

  --font-size-base: 20px;
  --font-size-small: 0.85rem;
  --font-size-smaller: 0.80rem;
  --font-size-medium: 1.1rem;

  --font-size-headline: 1.75rem;
  --font-size-title: 2rem;
  @media (min-width: 768px) {
    --font-size-base: 18px;
    --font-size-headline: 2.5rem;
    --font-size-title: 3rem;
  }

  --line-height-none: 1;
  --line-height-tight: 1.3;
  --line-height-base: 1.5;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;

  --stage-max-width: 40rem;
  --stage-min-width: 320px;
  @media (min-width: 768px) {
    --stage-min-width: 35rem;
  }
  @media (min-width: 1024px) {
    --stage-min-width: 40rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #282522;
    --color-background--mute: #211e1b;
    --color-text: #eee5da;
    --color-text--secondary: #e2ceb5;
    --color-text--faded: #c1b9ac;
    --color-border: #44403c;
    --color-link: #e4b271;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-serif);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans-serif);
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-sans-serif);
}

.site-nav {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
}

.site-nav a,
.site-nav a:visited,
.site-nav a:hover,
.site-nav a:active,
.site-nav a:focus {
  color: inherit;
}

.site-title {
  margin: 1rem 0;
  color: var(--color-text);
  font-size: var(--font-size-medium);
  text-transform: uppercase;
  font-family: var(--font-serif);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.15em;
}

.site-title a,
.site-title a:visited,
.site-title a:hover,
.site-title a:active,
.site-title a:focus {
  color: inherit;
  text-decoration: none;
}

.stage {
  max-width: var(--stage-max-width);
  min-width: var(--stage-min-width);
  padding: 0 1rem;
  margin: 1rem auto 3rem;
  flex: 1;
}

.post-card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-card-list__item:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.post-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.2;
}

.post-card__title a,
.post-card__title a:visited,
.post-card__title a:hover,
.post-card__title a:active,
.post-card__title a:focus {
  color: inherit;
}

.post-card__meta {
  font-size: var(--font-size-smaller);
  color: var(--color-text--faded);
}

.post-card__excerpt {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.site-footer {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  color: var(--color-text--faded);
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-smaller);
  width: 100%;
}

.page-404 {
  text-align: center;
}

.page-blog__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-headline);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-heavy);
}

.page-blog__meta {
  margin-top: 0.5em;
  margin-bottom: 1rem;
  font-size: var(--font-size-smaller);
  color: var(--color-text--faded);
}

.page-blog__content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-list__item {
  margin-bottom: 0.5rem;
}

.tag-list__link {
  color: var(--color-text);
  text-decoration: none;
}

.tag-list__link:hover,
.tag-list__link:active,
.tag-list__link:focus {
  text-decoration: underline;
}

.page-tag-list h1,
.page-tag h1 {
  font-size: var(--font-size-title);
  line-height: var(--line-height-base);
  margin-bottom: 0.5rem;
  color: var(--color-text--secondary);
}
